#
#  Author: Hari Sekhon
#  Date: 2022-05-26 14:09:11 +0100 (Thu, 26 May 2022)
#
#  vim:ts=2:sts=2:sw=2:et
#
#  https://github.com/HariSekhon/GitHub-Actions
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#
#  https://www.linkedin.com/in/HariSekhon
#

# ============================================================================ #
#                       C h e c k   D o c k e r f i l e s
# ============================================================================ #

---
name: Dockerfiles

on:
  push:
    branches:
      - master
      - main
    paths:
      - '**Dockerfile**'
  pull_request:
    branches:
      - master
      - main
    paths:
      - '**Dockerfile**'
  workflow_call:
    inputs:
      debug:
        type: string
        required: false
        default: false
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        required: false
        default: false
  #schedule:
  #  - cron: '0 0 * * 1'

permissions:
  contents: read

defaults:
  run:
    shell: bash -euxo pipefail {0}

env:
  DEBUG: ${{ inputs.debug == true || github.event.inputs.debug == 'true' || '' }}

jobs:
  check_dockerfiles:
    name: Lint Dockerfiles
    runs-on: ubuntu-latest
    container: harisekhon/bash-tools

    steps:
      - name: Environment
        run: env | sort

      - name: Git version
        run: git --version

      - uses: actions/checkout@v3
        with:
          submodules: recursive  # requires Git 2.18+ to be installed first

      - name: Check Dockerfiles
        run: check_dockerfiles.sh
