#
#  Author: Hari Sekhon
#  Date: 2022-01-21 13:34:47 +0000 (Fri, 21 Jan 2022)
#
#  vim:ts=2:sts=2:sw=2:et
#
#  https://github.com/HariSekhon/GitHub-Actions
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#
#  https://www.linkedin.com/in/harisekhon
#

---
name: Groovy Compile

on:
  workflow_call:

jobs:
  groovyc:
    #name: Groovy Compile
    timeout-minutes: 30
    runs-on: ubuntu-latest
    #container: groovy  # doesn't contain git and no sudo access
    container: harisekhon/bash-tools:ubuntu
    permissions:
      - contents: read
    steps:
      # allows us to use check_groovyc.sh from the harisekhon/github docker image or the local HariSekhon/DevOps-Bash-tools git checkout further down
      - name: Setup PATH
        run: echo "PATH=$PWD/bash-tools:$PATH" >> "$GITHUB_ENV"

      - name: Environment
        run: env | sort

      - name: Install Groovy
        # on ubuntu latest we have to sudo, but not in bash-tools
        #run: sudo apt-get update && sudo apt-get install -y groovy --no-install-recommends
        run: |
          set -eux
          sudo=
          if [ "${EUID:-${UID:-$(id -u)}}" != 0 ]; then
            sudo=sudo
          fi
          $sudo apt-get update
          $sudo apt-get install -y groovy --no-install-recommends

      - uses: actions/checkout@v2
        with:
          submodules: recursive  # requires Git 2.18+ to be installed first

      # Uncomment if you need latest version from master before it is built into docker image harisekhon/bash-tools
      #- uses: actions/checkout@v2
      #  with:
      #    repository: HariSekhon/DevOps-Bash-tools
      #    #ref: master         # unset for default branch in case it changes in future
      #    submodules: recursive
      #    path: bash-tools

      - name: Groovy Compile
        run: check_groovyc.sh
