#
#  Author: Hari Sekhon
#  Date: Tue Feb 4 09:53:28 2020 +0000
#
#  vim:ts=2:sts=2:sw=2:et
#
#  https://github.com/HariSekhon/GitHub-Actions
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#
#  https://www.linkedin.com/in/harisekhon
#

---
name: Merge Branch

on:
  workflow_call:
    inputs:
      head:
        description: Branch to merge from (defaults to triggered branch if not specified)
        type: string
        required: false
      base:
        description: Branch to merge into
        type: string
        required: true
      debug:
        type: string
        required: false
  workflow_dispatch:
    inputs:
      head:
        description: Branch to merge from (defaults to triggered branch if not specified)
        type: string
        required: false
      base:
        description: Branch to merge into
        type: string
        required: true
      debug:
        type: string
        required: false

env:
  GH_TOKEN: ${{ github.token }}
  GH_NO_UPDATE_NOTIFIER: 1
  HEAD: ${{ inputs.head || github.event.inputs.head }}
  BASE: ${{ inputs.base || github.event.inputs.base }}
  DEBUG: ${{ inputs.debug || github.event.inputs.debug }}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false  # killing this part way through may leave PRs without auto-merging

defaults:
  run:
    shell: bash -euxo pipefail {0}

jobs:
  merge_branch:
    name: Merge Branch ${{ env.HEAD }} into ${{ env.BASE }}
    # without 'contents: write' permission the PR merge fails with the error:
    # Message: Resource not accessible by integration, Locations: [{Line:1 Column:58}]
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    container: harisekhon/bash-tools
    steps:
      - name: Environment
        run: env | sort

      - uses: actions/checkout@v2

      - name: GH CLI auth status
        run: |
          gh config set prompt disabled
          gh auth status

      - name: Create PRs & Automerge
        run: |
          if [ -z "$HEAD" ]; then
            if [ "$GITHUB_REF_TYPE" != "branch" ]; then
              echo "HEAD branch not given and cannot infer from trigger branch as triggered from '$GITHUB_REF_TYPE' instead of branch"
              exit 1
            fi
            HEAD="$GITHUB_REF_NAME"
          fi
          github_merge_branch.sh "$HEAD" "$BASE"
