#
#  Author: Hari Sekhon
#  Date: Tue Jan 11 10:39:02 2022 +0000
#
#  vim:ts=2:sts=2:sw=2:et
#
#  https://github.com/HariSekhon/GitHub-Actions
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#
#  https://www.linkedin.com/in/harisekhon
#


# ============================================================================ #
#                   T F s e c   G i t H u b   W o r k f l o w
# ============================================================================ #

# Comments on any PR that adds transgressions

# https://aquasecurity.github.io/tfsec/v0.63.1/getting-started/configuration/github-actions/pr-commenter/

---
name: tfsec-pr-commenter

on:
  workflow_call

jobs:
  tfsec:
    name: tfsec PR commenter
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: tfsec
        uses: tfsec/tfsec-pr-commenter-action@5e9f770638057da497182661aacbf640ca94f4e9
        with:
          github_token: ${{ github.token }}
          # or
          #github_token: ${{ secrets.GITHUB_TOKEN }}
